@{
    ViewData["Title"] = "Home Page";
}
<!--Nicholas Applegate, 1-3-->

@model BookListViewModel

<header>
    <h1>Online Bookstore</h1>
</header>

<!--Display information for each book in the database-->

@foreach (var x in Model.Books)
{
    <partial name="BookSummary" model="x" />
}

<!--Dynamically add paging info using tag helper-->

<div page-model="@Model.PagingInfo" page-action="Index" page-url-category="@Model.CurrentCategory"></div>
